.red {
    background: red;
    color: white;
    font-weight: bold;
}

.green {
    background: green;
    color: white;
    font-weight: bold;
}

.blue {
    background: blue;
    color: white;
    font-weight: bold;
}

.orange {
    background: orange;
    color: white;
    font-weight: bold;
}
